.nav {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}

.navlink {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.navlink.active {
  color: #8bc53d;
}

.home {
  font-size: 1.8rem !important;
  color: #8bc53d;
}

.bars {
  display: none !important;
  color: #8bc53d;
}

@media screen and (max-width: 768px) {
  .bars {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem !important;
    cursor: pointer;
  }
}

.navmenu {
  display: flex;
  align-items: center;
  margin-right: -24px;
}

@media screen and (max-width: 768px) {
  .navmenu {
    display: none;
  }
}

.navbtn {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .navbtn {
    display: none !important;
  }
}
